@use "../utility/utility.scss";

.dropdown {
    display: inline-block;
    text-align: left;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-size: utility.$font-size-home;
}

.dropdown {
    &.light-theme {
        color: utility.$color-light-text;
        @include utility.box-shadow(light);

        .dropdown-selected {
            background-color: utility.$color-light-elem;

            svg {
                fill: utility.$color-light-text;
            }
        }

        .dropdown-options {
            background-color: utility.$color-light-elem;
            box-shadow: 0 utility.rem(4px) utility.rem(8px) 0 rgba(255, 255, 255, 0.2);

            .option:hover {
                background-color: utility.$color-light-input;
            }
        }

        &:hover,
        &:focus {
            .dropdown-options {
                box-shadow: 0 utility.rem(4px) utility.rem(8px) 0 rgba(255, 255, 255, 0.3);
            }
        }
    }

    &.dark-theme {
        color: utility.$color-dark-text;
        @include utility.box-shadow(dark);

        .dropdown-selected {
            background-color: utility.$color-dark-elem;

            svg {
                fill: utility.$color-dark-input;
            }
        }

        .dropdown-options {
            background-color: utility.$color-dark-elem;
            box-shadow: 0 utility.rem(4px) utility.rem(8px) 0 rgba(0, 0, 0, 0.2);

            .option:hover {
                background-color: utility.$color-light-text;
            }
        }

        &:hover,
        &:focus {
            .dropdown-options {
                box-shadow: 0 utility.rem(4px) utility.rem(8px) 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.dropdown .dropdown-selected {
    padding: utility.rem(16px);
    border-radius: utility.rem(8px);

    .selected {
        display: inline-block;
        padding-right: utility.rem(10px);
        min-width: utility.rem(125px);
    }
}
.dropdown .dropdown-options {
    display: none;
    position: absolute;
    list-style-type: none;
    top: 110%;
    margin: 0;
    padding: utility.rem(16px) 0;
    border-radius: utility.rem(8px);
    box-sizing: border-box;
    width: 100%;

    &.options-visible {
        display: block;
    }

    .option {
        padding: utility.rem(10px) utility.rem(16px);
    }
}
