@use "../utility/utility.scss";

$input-pad-left: 50px;
$svg-pad-left: calc(($input-pad-left - 10px)/ 2);

.searchbox {
    display: inline-block;

    form {
        display: flex;
        align-items: center;
        position: relative;
    }

    svg {
        display: inline-block;
        position: absolute;
        padding-left: utility.rem($svg-pad-left);
        pointer-events: none;
    }

    input {
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        font-size: utility.$font-size-home;
        padding: utility.rem(16px) utility.rem(30px);
        padding-left: utility.rem($input-pad-left);
        border-radius: utility.rem(8px);
    }
}

.searchbox.light-theme {
    svg {
        fill: utility.$color-light-input;
    }

    input {
        color: utility.$color-light-text;
        background-color: utility.$color-light-elem;
        @include utility.box-shadow(light);
        
        &::placeholder {
            color: utility.$color-light-input;
        }
    }
}

.searchbox.dark-theme {
    svg {
        fill: utility.$color-dark-input;
    }

    input {
        color: utility.$color-dark-text;
        background-color: utility.$color-dark-elem;
        @include utility.box-shadow(dark);

        &::placeholder {
            color: utility.$color-dark-input;
        }
    }
}
