@import "../utility/utility.scss";

.error {
    font-size: $font-size-detail;

    .error-wrap {
        padding: $app-side-padding;

        @include for-size(mobile) {
            padding: $m-app-side-padding;
        }
    }

    .error-back {
        padding: rem(40px) 0;

        @include for-size(b2) {
            padding-top: rem(20px);
        }
    }

    .error-back-btn {
        display: inline-flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
        outline: none;
        padding: rem(16px) rem(30px);
        border-radius: rem(8px);
        font-size: inherit;
        cursor: pointer;

        p {
            display: inline-block;
            margin: 0;
        }

        svg {
            padding-left: rem(12px);
        }
    }

    .error-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include for-size(b2) {
            flex-direction: column;
            max-width: 90%;
            margin: 0 auto;
        }

        @include for-size(b3) {
            max-width: unset;
            margin: unset;
        }
    }
}

.error {
    &.dark-theme {
        color: $color-dark-text;

        .error-back-btn {
            background-color: $color-dark-elem;
            @include box-shadow(dark);

            svg {
                fill: $color-dark-text;
            }
        }
    }

    &.light-theme {
        color: $color-light-text;

        .error-back-btn {
            background-color: $color-light-elem;
            @include box-shadow(dark);

            svg {
                fill: $color-light-text;
            }
        }

        .error-info-img {
            @include box-shadow(dark);
        }
    }
}
