@use "../utility/utility.scss";

.countryGrid {
  padding: 0 utility.$app-side-padding;

  .countryGrid-wrap {
    padding: 1.5rem 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;

    @media (max-width: utility.$breakpoint-1) {
      column-gap: 1.5rem;
    }
    @media (max-width: utility.$breakpoint-2) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: utility.$breakpoint-3) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: utility.$breakpoint-4) {
      grid-template-columns: 1fr;
    }
  }
}

.countryGrid .filter {
  .filter-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: utility.rem(40px) 0;

    @media (max-width: utility.$breakpoint-4) {
      flex-direction: column;

      .dropdown {
        align-self: flex-start;
      }
    }
  }

  .searchbox {
    width: utility.rem(500px);
    max-width: 60%;

    @media (max-width: utility.$breakpoint-4) {
      width: 100%;
      max-width: 100%;
      padding-bottom: utility.rem(40px);
    }
  }
}
