@import "../utility/utility.scss";

.countryGrid {
    padding: 0 $app-side-padding;

    .countryGrid-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;

        a {
            margin: 1.5rem 1rem;
            flex-basis: calc(25% - 2rem);
        }

        @include for-size(b2) {
            a {
                flex-basis: calc(33.33% - 2rem);
            }
        }

        @include for-size(b3) {
            a {
                flex-basis: calc(50% - 2rem);
            }
        }

        @include for-size(b4) {
            flex-direction: column;
        }
    }
}

.countryGrid .filter {
    .filter-wrap {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: rem(40px) 0;
  
      @include for-size(b4) {
        flex-direction: column;
  
        .dropdown {
          align-self: flex-start;
        }
      }
    }
  
    .searchbox {
      width: rem(500px);
      max-width: 60%;
  
      @include for-size(b4) {
        width: 100%;
        max-width: 100%;
        padding-bottom: rem(40px);
      }
    }
  }
