@use "../utility/utility.scss";
$border-radius: utility.rem(8px);

.card {
    display: inline-block;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;

    .card-img {
        display: block;
        border-radius: $border-radius $border-radius 0 0;
        width: 100%;
        height: 11rem;
        object-fit: cover;

        @media (max-width: utility.$breakpoint-4) {
            height: 16rem;
        }

        @media (max-width: 480px) {
            height: 14rem;
        }

        @media (max-width: utility.$breakpoint-mobile) {
            height: 11rem;
        }
    }

    &.dark-theme {
        background-color: utility.$color-dark-elem;
        @include utility.box-shadow(dark);

        .card-data {
            color: utility.$color-dark-text;
        }
    }

    &.light-theme {
        background-color: utility.$color-light-elem;
        @include utility.box-shadow(light);

        .card-data {
            color: utility.$color-light-text;
        }
    }
}

.card .card-data {
    text-align: left;
    padding: 1.5rem;

    .title {
        margin: 0;
        padding: 0 0 utility.rem(8px) 0;
        font-size: utility.rem(18px);
    }

    .data-row {
        margin: 0;
        padding: 0.25rem 0;
        font-size: utility.$font-size-home;

        .data-title {
            font-weight: 600;
        }
    }
}
