@use "../utility/utility.scss";

.themeToggle {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;

    .toggleWrapper {
        display: flex;
        padding: utility.rem(12px);
        align-items: center;
    }

    p {
        margin: 0;
        display: inline;
        font-size: utility.$font-size-detail;
        padding-left: utility.rem(8px);
        font-weight: 600;
    }

    @media (max-width: utility.$breakpoint-4) {
        .toggleWrapper {
            padding: utility.rem(12px) utility.rem(4px);
        }

        p {
            padding-left: utility.rem(4px);
        }
    }
}

.themeToggle.light-theme {
    p {
        color: black;
    }
    .moon-icon {
        .inner {
            fill: none;
        }

        .outer {
            fill: black;
        }
    }
}

.themeToggle.dark-theme {
    p {
        color: white;
    }

    .moon-icon {
        .inner {
            fill: white;
        }

        .outer {
            fill: none;
        }
    }
}
