@use "./components/utility/utility.scss";

.App {
  min-height: 100%;
  min-width: 375px;

  &.dark-theme {
    background-color: utility.$color-dark-bg;
  }

  &.light-theme {
    background-color: utility.$color-light-bg;
  }
}

.App {
  &.dark-theme {
    .loading-wrap {
      color: utility.$color-dark-text;
    }
  }

  &.light-theme {
    .loading-wrap {
      color: utility.$color-light-text;
    }
  }

  .loading-wrap {
    padding: utility.$app-side-padding;

    @media (max-width: utility.$breakpoint-mobile) {
      padding: utility.$m-app-side-padding;
    }
  }
}

.App .header {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: utility.rem(24px) utility.$app-side-padding;

    @media (max-width: utility.$breakpoint-mobile) {
      padding: utility.rem(24px) utility.$m-app-side-padding;
    }
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: utility.rem(24px);

    @media (max-width: utility.$breakpoint-4) {
      font-size: utility.rem(20px);
    }

    @media (max-width: utility.$breakpoint-mobile) {
      font-size: utility.rem(18px);
    }
  }

  &.dark-theme {
    background-color: utility.$color-dark-elem;
    @include utility.box-shadow(dark);

    h1 {
      color: utility.$color-dark-text;
    }
  }

  &.light-theme {
    background-color: utility.$color-light-elem;
    @include utility.box-shadow(light);
    h1 {
      color: utility.$color-light-text;
    }
  }
}
